.pytest_cache/
.python-version
.idea/
__pycache__/
test-data/

*.ipynb_checkpoints
*.pyc
*.html

# Coverage files
coverage_*.js
favicon_*.png
jquery*.js
htmlcov/
.coverage*



/venv
/tutorial/tests

*.csv
.DS_Store